{% load l1results %}
<div class="row">
    <table class="table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Temps de jeu</th>
            <th>Note</th>
            <th>Encaissés</th>
            <th>Arrêts</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in G %}
            <tr>
                <td>{{ stat.joueur }}</td>
                <td>{{ stat.time }}</td>
                <td>{{ stat.rating }}</td>
                <td>{{ stat.against }}</td>
                <td>{{ stat.saves }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
<div class="row">
    <table class="table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Temps de jeu</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in D %}
            {% include './l1results_rencontre_team_fieldrow.html' with stat=stat %}
        {% endfor %}
        {% for stat in M %}
            {% include './l1results_rencontre_team_fieldrow.html' with stat=stat %}
        {% endfor %}
        {% for stat in A %}
           {% include './l1results_rencontre_team_fieldrow.html' with stat=stat %}
        {% endfor %}
        </tbody>

    </table>
</div>