{% load l1results %}
{% load svg %}
{% load i18n %}


<div class="panel panel-default">
    <div class="panel-heading">
        <div style="width: 64px; float:left;">
            <style type="text/css" scoped>
                path.bg {
                    fill: {{ team.maillot_color_bg }};
                }
                path.motif {
                    fill: {{ team.maillot_color_motif }};
                }
            </style>
            {% svg team.maillot_svg %}
        </div>
        <h4>{{ team }}</h4>

        <div style="clear: both;"></div>
    </div>
    <div class="list-group">
        {% for j in players %}
            <a href="{% url 'stat_joueur-detail' j.pk %}" class="list-group-item">{{ j }}<span
                    class="badge">{{ j.poste }}</span></a>
        {% endfor %}
    </div>
</div>
