<div class="rencontre_score">
    <div class="dom">
        <a href="{% url 'club-detail' cdid %}">{{ club_dom }}</a>
    </div>
    <div class="score">
        <a href="{% url 'result_rencontre-detail' rid %}"><strong>
            {% if diff < 0 %}
                <span class="lost">
            {% elif diff > 0 %}
                <span class="won">
            {% else %}
                <span>
            {% endif %}
            {{ score_dom }}-{{ score_ext }}</span>
        </strong></a>
    </div>
    <div class="ext">
        <a href="{% url 'club-detail' ceid %}">{{ club_ext }}</a>
    </div>
</div>