{% load l1results %}
{% load i18n %}

    {% for journee in journees %}
        <section>
            <h1>Journée {{ journee.numero }}</h1>
            <h2>{{ journee|journee_dates:'d M Y' }}</h2>
            <ul>
                {% for r in journee.rencontres.all %}
                    {% rencontre_score r %}
                {% endfor %}
            </ul>
            <i class="fa fa-angle-double-right"></i>&nbsp<a href="#" class="navlink">Tous les résultats</a>
        </section>
    {% endfor %}