{% extends "game/home/home_base.html" %}
{% load static %}
{% load l1results %}
{% load humanize %}

{% block title-page %}Statistiques {{ object }}{% endblock title-page %}

{% block content-right %}
<section>

    <h2>Meilleures perfs</h2>
    <ol>
        {% for jjs in bestofall %}
        <li class="bestofentry">
            <div class="bestofplayer">
                <p class="smalltext center">{{ jjs.rencontre.date }}</p>
                <h2>{{ jjs.joueur.display_name }}: <strong>{{ jjs.note|stringformat:'0.2f' }}</strong></h2>
                {% rencontre_score jjs.rencontre %}
            </div>
        </li>
        {% endfor %}
    </ol>

    <h2>Pires perfs</h2>
    <ol>
        {% for jjs in worstofall %}
        <li class="bestofentry">
            <div class="bestofplayer">
                <p class="smalltext center">{{ jjs.rencontre.date }}</p>
                <h2>{{ jjs.joueur.display_name }}: <strong>{{ jjs.note|stringformat:'0.2f' }}</strong></h2>
                {% rencontre_score jjs.rencontre %}
            </div>
        </li>
        {% endfor %}
    </ol>
</section>
{% endblock content-right %}

{% block content-center %}
<article id="home-main">
    <section class="section-title">
        <h1 class="center">Equipes types {{ object }}</h1>
    </section>
    <section id="saison_stat">
        <div>
            <h2>Equipe-type de la saison</h2>
            {% include 'game/home/composition.html' with selection=best %}
        </div>
        <div>
            <h2>Equipe-pitres de la saison</h2>
            {% include 'game/home/composition.html' with selection=worst %}
        </div>
    </section>
    <section class="section-title">
        <h1 class="center">Meilleurs joueurs par poste</h1>
    </section>
    <section id="classements">
        {% bests_at_position annotated_g 'Meilleurs gardiens' %}
        {% bests_at_position annotated_d 'Meilleurs défenseurs' %}
        {% bests_at_position annotated_m 'Meilleurs milieux' %}
        {% bests_at_position annotated_a 'Meilleurs attaquants' %}
    </section>
    <section class="section-title">
        <h1 class="center">Mais aussi...</h1>
    </section>
    <section id="special">
        {% comment %} {% special_ranking players_CSC 'CSC' 'Prix Barbados-Granada' 'Meilleurs marqueurs de CSC' %} {% endcomment %}
        {% special_ranking players_LEADER 'LEADER' 'Trophée Eric Moussambani' 'Ils surnagent dans leur club' %}
        {% special_ranking players_HALFPASS 'HALFPASS' 'Prix PENALTYPOURLYON' 'Ils ont obtenu le plus de pénaltys' %}
        {% special_ranking players_CLEANSHEET 'CLEANSHEET' 'Catenaccio' 'Classement des clean sheets' %}
        {% special_ranking players_PENALTY 'PENALTY' 'Lacazette-ranking' 'Classement des pénaltys marqués' %}
        {% special_ranking players_GOAL 'GOAL' 'Giroud-ranking' 'Classement des vrais buts marqués' %}
        {% special_ranking players_PENALSTOP 'PENALSTOP' 'Coupe Jean-François Bédénik' 'Ils ont arrêté le plus de pénaltys' %}
        {% special_ranking players_OFFENSIVE 'OFFENSIVE' 'Défense en glaise' 'Nombre de bonus offensifs glânés' %}
        {% special_ranking players_PASS 'PASS' 'Trophée Zahia' 'Le plus de passes...' %}
    </section>
</article>
{% endblock content-center %}