beautifulsoup4==4.6.0
bleach==2.0.0
certifi==2017.4.17
chardet==3.0.4
Django==1.11.3
django-app-namespace-template-loader==0.4.1
django-blog-zinnia==0.18.1
django-classy-tags==0.8.0
django-colorful==1.2
django-contrib-comments==1.8.0
django-debug-toolbar==1.8
django-filter==1.1.0
django-graphos==0.3.41
django-guardian==1.4.9
django-inline-actions==1.0.0
django-inline-svg==0.1.1
django-mptt==0.8.7
django-sekizai==0.10.0
django-tagging==0.4.5
django-userena==2.0.1
django-webpack-loader==0.5.0
django-xmlrpc==0.1.7
djangorestframework==3.6.3
dry-rest-permissions==0.1.9
easy-thumbnails==2.4.2
html2text==2014.12.29
html5lib==0.999999999
idna==2.5
mots-vides==2015.5.11
oauthlib==2.0.2
olefile==0.44
Pillow==4.2.0
psycopg2==2.6.2
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
regex==2017.6.23
requests==2.18.1
requests-oauthlib==0.8.0
rules==1.2.1
simplejson==3.13.2
six==1.10.0
sqlparse==0.2.3
urllib3==1.21.1
webencodings==0.5.1
