<div class="footer-widgets">

    <div class="f-widget">
        <h3>A propos de la Kamoulcup</h3>
        <p>La Kamoulcup est un jeu internet de type "Fantasy league" basé sur les compétitions de football. Inventé à l'occasion de la coupe du monde 2006 sur le forum <a href="http://www.kamouloxdufoot.com/kdf">Kamoulox du football</a>, il a été adapté pour la Ligue 1 française et se joue sur ce site dédié depuis 2009</p>
    </div>

    <div class="f-widget">
        <h3>Informations</h3>
        <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="{% url 'mentions' %}">Mentions légales</a></li>
        </ul>
    </div>

    <div class="f-widget">
        <h3>Annonce importante</h3>
        <p>Kamoulcup.com est un site totalement indépendant. Il n'est lié d'aucune façon aux organisateurs de compétitions de football, ni aux clubs de football, ni aux joueurs, ni à leurs ayants-droits.</p>
    </div>
</div>
<div class="footer-copyrights">
    Copyright © {% now "Y" %} Matthieu Grandrie
</div>