{% extends "game/skeleton.html" %}
{% load static %}
{% load tz %}

{% block gamecontent %}
    {% block col-center %}<main class="hg__main">{% block content-center %}{% endblock content-center %}</main>{% endblock col-center %}
{% block col-left %}
<div class="hg__left">
<nav class="pagemenu">{% block left-menu %}{% endblock left-menu %}</nav>
<a href="https://fr.tipeee.com/kamoulcup"><img src="{% static 'game/images/BoutonTip_SoutenezMoi_Horizontal_Tipeee.png' %}" alt="Soutenez-moi sur Tipeee" style="max-width:100%; height:auto"/></a>
</div>
{% endblock col-left %}
    {% block col-right %}{% endblock col-right %}
{% endblock gamecontent %}