{% extends "game/skeleton.html" %}

{% block title %}Mentions légales{% endblock title %}

{% block gamecontent %}
<div id="mentions-bg">
    <article id="mentions">
        <h1>Mentions légales</h1>

        <p>Kamoulcup.com est un site de jeu en ligne gratuit, développé et administré à titre non professionnel au sens de l’article 6, III, 2° de la loi 2004-575 du 21 juin 2004.</p>

        <h2>Webmaster</h2>
        <p>Ce site a été entièrement développé par moi-même, Matthieu Grandrie. Si vous trouvez cette réalisation intéressante au point que vous souhaitez en savoir plus sur mes aptitudes professionelles, vous pouvez vous référer à <a href="https://www.linkedin.com/in/matthieugrandrie/">ma page Linkedin</a></p>

        <h2>Hébergeur</h2>
        <p>Ce site est hébergé par Djangoeurope – 103016, Zürcherstrasse 161 8010 Zürich. <a href="https://djangoeurope.com/contact">Coordonnées complètes.</a></p>

        <h2>Gestion des données personnelles.</h2>

        <p>Conformèment à la Loi Informatique et Liberté du 06 Août 2004 ainsi qu'au Règlement Général sur la Protection des Données (RGPD&nbsp;: n° 2016-679).</p>

        <h3>Quelles données sont collectées ?</h3>

        <p>Lorsque vous créez un compte sur le site, il vous est demandé un nom d'utilisateur et une adresse e-mail.</p>

        <h3>Utilisation des données</h3>

        <p><strong>Nom d'utilisateur</strong></p>
        <p>Le nom d'utilisateur est choisi librement par l'utilisateur, il peut s'agit d'un pseudonyme. Ce nom apparaît sur les pages de gestion d'équipe en tant que manager, et sert à s'identifier sur le site lors de la connexion</p>
        <p>Pour cette raison, le nom d'utilisateur est enregistré dans un cookie de session déposé sur le navigateur.</p>

        <p><strong>Adresse e-mail</strong></p>
        <p>Chaque utilisateur doit s'enregistrer avec une adresse e-mail valide. Cette adresse est utilisée pour valider une inscription et lors de la procédure de récupération d'un mot de passe oublié</p>
        <p>A titre exceptionnel, cette adresse e-mail pourra servir à communiquer directement avec un utilisateur en cas de nécessité.</p>


    </article>
</div>
{% endblock %}