{% extends "game/game_base.html" %}

{% block left-menu %}
    {% include 'game/league/menu.html' %}
{% endblock left-menu %}

{% block content-center %}

    <div class="cover">
        <h1>{{ instance.slogan }}</h1>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block undercover %}{% endblock %}

{% endblock content-center %}