{% extends "game/league/merkato_base.html" %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
{% endblock script %}

{% block title-page %} - Merkato{% endblock title-page %}

{% block undercover %}

    <div id='chtcontainer'>{{ chart.as_html }}</div>

{% endblock undercover %}
