{% extends "game/league/league_central_reactapp.html" %}
{% load l1results %}
{% load humanize %}

{% block title-page %} - Merkato{% endblock title-page %}

{% block content-right %}
 <section id="draft-sessions">
     <h1>Draft passées</h1>
    <ul>
        {% for session in draftsessions %}
            <li>
                <a href="{% url 'league_draftresults-session' object.pk session.pk %}">Draft #{{ session.number }} du {{ session.closing|date:"SHORT_DATETIME_FORMAT" }}</a>
            </li>
        {% endfor %}
    </ul>
 </section>
<section id="merkato-sessions">
    <h1>Enchères passées</h1>
    <ul>
        {% for session in sessions %}
            <li>
                <a href="{% url 'league_merkatoresults-session' object.pk session.pk %}">Session #{{ session.number }} du {{ session.solving|date:"SHORT_DATETIME_FORMAT" }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock content-right %}