{% extends 'userena/base_userena_central.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block formtitle %}{% trans "Change password" %}{% endblock %}

{% block formcontent %}
<form action="" method="post">
    {% csrf_token %}
    <div class="kcup-form-group">
        {{ form.non_field_errors }}
    </div>
    {% for field in form %}
    <div class="kcup-form-group">
        {{ field.label_tag }}
        {{ field.errors }}
        <div class="group">
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="{% trans 'Change password' %}"/>
</form>
{% endblock %}
