{% extends 'userena/base_userena_central.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block formtitle %}{% trans "Signup" %}{% endblock %}

{% block formcontent %}
<form action="" method="post">
    {% csrf_token %}
    <div class="kcup-form-group">
        {{ form.non_field_errors }}
    </div>
    {% for field in form %}
    {% if not field.name == 'tos' %}
    <div class="kcup-form-group">
        {{ field.label_tag }}
        {{ field.errors }}
        <div class="group">
            {{ field }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="kcup-form-group">
        <label for="id_{{ form.tos.name }}">{{ form.tos }} {{ form.tos.label }}</label>
    </div>

    <input type="submit" value="{% trans " Signup"%}" />
</form>
{% endblock %}
