{% extends "game/game_base_2cols.html" %}
{% load static %}
{% load game %}
{% load render_bundle from webpack_loader %}

{% block left-menu %}
    {% include 'game/league/menu.html' %}
{% endblock left-menu %}

{% block title-section %} {{ team.name }} {% endblock title-section %}

{% block content-center %}

    <div id="react-app"></div>

    <script>
        window.component = '{{ component }}';
        window.props = {{props|json}};  // make sure to escape your props to prevent XSS!
        window.react_mount = document.getElementById('react-app');
    </script>
    {% render_bundle 'main' %}

{% endblock content-center %}

{% block content-right %}
    <h3>Test</h3>

    <p>{% lorem %}</p>

{% endblock content-right %}