{% extends "game/game_base_2cols.html" %}
{% load static %}
{% load game %}
{% load render_bundle from webpack_loader %}

{% block left-menu %}
    {% include 'game/league/menu.html' %}
{% endblock left-menu %}

{% block title-section %} {{ league.name }} {% endblock title-section %}

{% block content-center %}

    <h3>Test</h3>

    <p>{% lorem %}</p>
{% endblock content-center %}

{% block content-right %}
    <div id="react-app"></div>
    {% render_bundle 'main' %}
{% endblock content-right %}