body {
	background: url(../images/squairy_light.png) repeat;
}

.navbar {
    font-family: 'Baloo Tamma', cursive;
}

.title-banner {
    height: 100%;
    height: 90px;
    /*background-color: #222;*/
    background-position: 0% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/logo_fullres_notitle.png);
}

.content {
    background-color: #fff;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #2dd00b;
    border-color: #2dd00b;
}

/*.sidemenu {
    margin-left: -15px;
    margin-right: -15px;
}*/

.hover-active {
    display: none;
}

.sidemenu .active .hover-active,.sidemenu a:hover .hover-active {
    display: block;
}
@media screen and (max-width: 767px) {
.sidemenu .active .hover-active,.sidemenu a:hover .hover-active {
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
}