body {
	background: url(../images/squairy_light.png) repeat;
}

.wrapper {
        min-height: 450px;
}

.navbar {
    font-family: 'Baloo Tamma', cursive;
}

.title-banner {
    height: 100%;
    height: 90px;
    background-position: 0% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/logo_fullres_notitle.png);
}

.navbar-inverse .navbar-brand {
    color: #f9bee5;
}

.content {
    background-color: #fff;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #83e66e;
    border-color: #a5f395;
    color: #222;
}

.page-title, .sidemenu a:hover:not(.active) .hover-active {
    color: #83e66e;
}

#rightcol .smallbox-title {
    background-color: #fbedfa;
    font-weight: bold;
}


.hover-active {
    display: none;
}

.sidemenu .active .hover-active,.sidemenu a:hover .hover-active {
    display: block;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
   margin-bottom: 0;
   border-radius: 0;
}

.row {
   margin-left: 0;
   margin-right: 0;
}

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 100%}

        /* Set gray background color and 100% height */
        .sidenav {
        padding-top: 20px;
        background-color: #fbedfa;
        height: 100%;
        box-shadow: 3px 0 3px #888888;
        }

        /* Set black background color, white text and some padding */
        footer {
        background-color: #555;
        color: white;
        padding: 15px;
        }

@media screen and (max-width: 767px) {
    /* On small screens, set height to 'auto' for sidenav and grid */
    .sidenav {
        height: auto;
        padding: 15px;
        box-shadow: 0 3px 3px #888888;
    }

    .row.content {height:auto;}

    .sidemenu .active .hover-active,.sidemenu a:hover .hover-active {
        display: block;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
    }
}