body {
    margin: 0;
}

.hg__header { grid-area: header; }
.hg__footer { grid-area: footer; }
.hg__main { grid-area: main; }
.hg__left { grid-area: navigation; }
.hg__right { grid-area: ads; }

.hg {
    /*display: grid;
    grid-template-areas: "header header header"
                         "navigation main ads"
                         "footer footer footer";
    grid-template-columns: 190px 1fr 160px;
    grid-template-rows: 100px
                        1fr
                        30px;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    width: 963px;
    border: 1px solid #000;
}

.hg__body {
    display: flex;
    flex: 1;
}

.hg__main {
    flex: 1;
}

.hg__left {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
}

.hg__right {
    /* 12em is the width of the columns */
    flex: 0 0 18em;
}


.hg__left {
    order: -1;
}

.hg__header {
    height: 100px;
}

@media screen and (max-width: 768px) {
    .hg {
        /*grid-template-areas: "header"
                             "navigation"
                             "main"
                             "ads"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px
                            50px
                            1fr
                            50px
                            30px;*/
    }

    .hg__body {
        flex-direction: column;
        flex: 0 1 auto;
    }

    .hg__main, .hg__left, .hg__right {
        flex: 0 1 auto;
    }
}
