@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Russo+One);
@import url(//cdn.muicss.com/mui-0.9.27/css/mui.min.css);
/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* END RESET */

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    word-wrap: break-word !important;
    color: #0a0908;
    background-color: #cccccc;
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

a.navlink {
    color: #5f5f5f;
    display: block;
    text-align: right;
    margin-top: 5px;
}
a.navlink::before {
    font-family: FontAwesome;
    content: "\f101";
}

dl.inline-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;      /* set the container width*/
  overflow: visible;
}
dl.inline-flex dt {
  flex: 0 0 30%;
  text-overflow: ellipsis;
  overflow: hidden;
}
dl.inline-flex dd {
  flex:0 0 70%;
  margin-left: auto;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}

dt, dd {
  background-color: transparent;
}

dt:nth-child(4n+1), dt:nth-child(4n+1) + dd {
  background-color: #f1f1f1;
}

/* RiGHT COLUMN */
.hg__right > section {
    border-bottom: solid #5f5f5f;
    padding: 5px;
    margin: 3px;
}

.hg__right > section h1, .hg__right > section h2 {
    text-align: center;
}

.hg__right .fixtures ul {
    margin: 1em 0;
}

.hg__right .fixtures li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hg__right .fixtures li > a:last-child {
    flex: 1;
    text-align: left;
}
.hg__right .fixtures li > a:first-child {
    flex: 1;
    text-align: right;
}

.hg__right .rc-collapse {
    background-color: inherit;
    border: none;
}

.hg__right .rc-collapse-header {
    color: #5f5f5f;
}

.hg__right .rc-collapse-content {
    color: inherit;
}

.hg__right .rc-collapse-item.bonus > .rc-collapse-header{
    font-weight: bold;
}

.hg__right .rc-collapse-item.past > .rc-collapse-header{
    text-decoration: line-through;
}

@media all and (max-width: 768px) {
    .hg__right a {
        display: block;
        margin: 0.3em;
        padding: 0.5em;
        text-align: center;
    }

    .hg__right .navlink {
        background-color: #5f5f5f;
        color: #FFFFFF;
    }
}


/* HEADER */
.hg__header {
    background-color: #5f5f5f;
    color: #f1f1f1;
    font-family: 'Russo One', sans-serif;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.hg__footer {
    background-color: #22333b;
}

.hg__main {
    background-color: #FFFFFF;
}

.hg__left {
    background-color: #f1f1f1;
}

.hg__right {
    background-color: #f1f1f1;
}

header nav ul {
    background-color: #5f5f5f;
}

#logo {
    padding: 0 30px;
    font-size: 24px;
    line-height: 60px;
    color: #f9bee5;
}

/* Styling the links */
nav a {
    text-decoration: none;
    color: inherit;
}

header nav li.active {
    color: #f9bee5;
}

header nav a:hover, nav ul li ul li:hover {
    background: #0a0908;
}

@media all and (max-width: 768px) {
    /* Styling the toggle label */
    .toggle {
        display: block;
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        background-color: #000000;
    }

    header nav ul .toggle,
    header nav ul a {
        line-height: 60px;
        padding: 0 20px;
    }

    header nav ul ul .toggle,
    header nav ul ul a {
        padding: 0 40px;
    }

    header nav ul ul ul a {
        padding: 0 80px;
    }

    header nav a:hover,
    header nav ul ul ul a {
        background-color: #000000;
    }

    header nav ul li ul li .toggle,
    header nav ul ul a {
        background-color: #212121;
    }
}

.cover {
    position: relative;
    background-color: #b5b5b5;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/logo_fullres_notitle.png);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f1f1f1;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 768px) {
    .cover {
        background-attachment: scroll;
    }
}

/* LEFT CONTEXTUAL SUBMENU */

.hg__left nav{
    padding: 3px;
}

.hg__left nav .button {
    background-color: #FFFFFF;
    border: 2px solid #f9bee5;
    border-radius: 4px;
    transition-duration: 0.4s;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 4px;
}

@media all and (max-width : 768px) {

    .hg__left nav .button {
        display: inline-block;
        padding: 5px 8px;
    }
}

.hg__left nav .button:hover,  .hg__left nav .button.active{
    background-color: #f9bee5;
}


/*  LEAGUE - ekyp  */
.composition {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/pitch.jpg);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}

.composition > h1 {
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 8px;
    padding: 3px;
}

.fieldPlayer {
    display: inline-block;
    text-align: center;
    /*text-shadow: 2px 2px #ffffff;*/
}
.fieldPlayer svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fieldPlayer .playerDetails {
    position:relative;
    top: -15px;
    padding: 5px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
}
.compoLine {
    display: flex;
    justify-content: space-around;
}
