@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Russo+One);
@import url(//cdn.muicss.com/mui-0.9.27/css/mui.min.css);
/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* END RESET */

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    word-wrap: break-word !important;
    color: #0a0908;
    background-color: #cccccc;
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

h1.page-title {
    font-size: 1.8em;
}

h2 {
    font-size: 1.2em;
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.navlink {
    color: rgb(0,0,0,0.54);
    display: block;
    /*text-align: right;*/
    margin-top: 5px;
}

a.navlink::before {
    font-family: FontAwesome;
    content: "\f101   ";
}

a.navbutton {
    padding: 0 8px;
}

a.navbutton.disabled {
    pointer-events: none;
    visibility: hidden;
}

.center {
    text-align: center;
}

.smalltext {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
}

dl.card {
    top: 0;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    position: static;
    height: 60px;
    min-width: 60px;
    max-width: 120px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 3px;
}

dl.card dt {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
}

dl.card dd {
    color: #5f5f5f;
    display: block;
    font-size: 0.8em;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dl.card:hover {
    max-width: none;
}

dl.card:hover dd {
    white-space: normal;
}

dl.card.clickable {
    cursor: pointer;
}

dl.card.clickable:hover {
    background-color: #f1f1f1;
    transition-duration: 0.4s;
}

table.ktable-class .ktable-heading-class {
    background-color: #5f5f5f;
    color: #f1f1f1;
    font-weight: bold;
}

.bigtable__odd {
    background-color: #FFFFFF;
}

.bigtable__even {
    background-color: #f1f1f1;
}

.team-header section {
    width: 100%;
    padding: 0 10px;
    margin: 3px;
    border-bottom: 1px solid #5f5f5f;
}

section.closed {
    overflow: hidden;
    height: 0;
    transition-duration: 0.4s;
}

section.expanded {
    overflow: hidden;
    height: 300px;
    transition-duration: 0.4s;
}

/* RiGHT COLUMN */
.hg__right > section {
    border-bottom: 1px solid #5f5f5f;
    padding: 5px;
    margin: 3px;
}

.hg__right > section h1, .hg__right > section h2 {
    text-align: center;
}

.hg__right .fixtures ul {
    margin: 1em 0;
}

.hg__right .fixtures li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hg__right .fixtures li > a:last-child {
    flex: 1;
    text-align: left;
}

.hg__right .fixtures li > a:first-child {
    flex: 1;
    text-align: right;
}

.hg__right .rc-collapse {
    background-color: inherit;
    border: none;
}

.hg__right .rc-collapse-header .playerName {
    font-size: 1em;
}

.hg__right .rc-collapse-header .clubName {
    font-size: 0.8em;
}

.hg__right .rc-collapse-header .clubName:before {
    content: " (";
}

.hg__right .rc-collapse-header .clubName:after {
    content: ")";
}

.hg__right .rc-collapse-content {
    color: inherit;
}

.hg__right .rc-collapse-header.past .playerName {
    text-decoration: line-through;
}

@media all and (max-width: 768px) {
    .hg__right a {
        display: block;
        margin: 0.3em;
        padding: 0.5em;
        text-align: center;
    }

    .hg__right .navlink {
        background-color: rgb(0,0,0,0.54);
        color: #FFFFFF;
    }
}

/* HEADER */
.hg__header {
    background-color: #5f5f5f;
    color: #f1f1f1;
    font-family: 'Russo One', sans-serif;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.hg__footer {
    background-color: #22333b;
}

.hg__main {
    background-color: #FFFFFF;
}

.hg__left {
    background-color: #f1f1f1;
}

.hg__right {
    background-color: #f1f1f1;
}

header nav ul {
    background-color: #5f5f5f;
}

#logo {
    padding: 0 30px;
    font-size: 24px;
    line-height: 60px;
    color: #f9bee5;
}

/* Styling the links */
nav a {
    text-decoration: none;
    color: inherit;
}

header nav li.active {
    color: #f9bee5;
}

header nav a:hover, nav ul li ul li:hover {
    background: #0a0908;
}

@media all and (max-width: 768px) {
    /* Styling the toggle label */
    .toggle {
        display: block;
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        background-color: #000000;
    }

    header nav ul .toggle,
    header nav ul a {
        line-height: 60px;
        padding: 0 20px;
    }

    header nav ul ul .toggle,
    header nav ul ul a {
        padding: 0 40px;
    }

    header nav ul ul ul a {
        padding: 0 80px;
    }

    header nav a:hover,
    header nav ul ul ul a {
        background-color: #000000;
    }

    header nav ul li ul li .toggle,
    header nav ul ul a {
        background-color: #212121;
    }
}

.cover {
    background-color: #b5b5b5;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/logo_fullres_notitle.png);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-cover-box {
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.team-header .team-cover-box {
    display: none;
}

.cover, .team-cover-box {
    color: #f1f1f1;
    text-align: center;
    text-shadow: 2px 2px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-cover-box h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media all and (max-width: 768px) {
    .cover {
        background-attachment: scroll;
    }

    .team-cover-box {
        display: none;
    }

    .team-header {
        justify-content: space-between;
    }

    .team-header .team-cover-box {
        display: block;
        flex-grow: 1;
        min-width: 300px;
    }
}

/* Tabs (redux-tabs) */
.tab-content {
    height: 100%;
}

.tab-link {
    padding: 0 15px;
    cursor: pointer;
    border: 2px solid transparent;
    display: inline-block;
    position: relative;
}

.tab-link-active {
    border-bottom: 2px solid #2196F3;
}

/* LEFT CONTEXTUAL SUBMENU */

.hg__left nav {
    padding: 3px;
}

.hg__left nav .button {
    background-color: #FFFFFF;
    border: 2px solid #f9bee5;
    border-radius: 4px;
    transition-duration: 0.4s;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 4px;
}

@media all and (max-width: 768px) {

    .hg__left nav .button {
        display: inline-block;
        padding: 5px 8px;
    }
}

.hg__left nav .button:hover, .hg__left nav .button.active {
    background-color: #f9bee5;
}

/*  LEAGUE - ekyp  */
.composition {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/pitch.jpg);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    max-width: 1200px;
    padding: 8px;
}

.composition > h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px;
}

.jersey {
    position: relative;
    margin: 3px;
}

.jersey .clubName-container {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}

.jersey .clubName-container .clubName {
    padding: 2px;
    color: #f1f1f1;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fieldPlayer {
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.fieldPlayer h1 {
    font-size: 1.0em;
}

.fieldPlayer svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fieldPlayer .jersey > div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fieldPlayer .playerDetails {
    position: relative;
    top: -10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.fieldPlayer .playerDetails .bonus {
    padding-left: 3px;
    font-weight: bold;
}

.fieldPlayer .playerDetails .bonus::before {
    font-family: "FontAwesome";
    content: "\f005"
}

.compoLine {
    display: flex;
    justify-content: space-around;
    min-height: 166px;
}

.team-header {
    display: flex;
    flex-wrap: wrap;
}

.team-title {
    padding: 10px 20px;
}

.team-title li.manager {
    display: inline-block;
    color: #5f5f5f;
    margin-right: 10px;
}

.team-title li.manager::before {
    font-family: FontAwesome;
    content: "\f007   ";
}

/* LEAGUE - Classements */

.division-title::before {
    font-family: FontAwesome;
    content: "\f091   ";
}

.prog-eq {
    color: #b5b5b5;
}

.prog-up, .won {
    color: #228B22;
}

.prog-down, .lost {
    color: #B22222;
}

/*************************************/
dl.kvgroup {
    display: inline-block;
    padding: 0 3px;
}

.kvgroup > dt, .kvgroup > dd {
    display: inline-block;
}

.kvgroup > dd::after {
    font-family: FontAwesome;
    content: "   \f0da";
}

.kvgroup > dd {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
}

#home-main {
    padding: 10px 0;
}

#home-main p {
    padding: 0 10px;
}

#home-main h2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-left: 8px;
}

#section-title {
    display: flex;
    flex: 1;
    align-items: center;
}

#section-title > * {
    margin: 0 20px;
}

#section-title > h1 {
    flex-grow: 1;
}

#player-profile > div {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}

#player-bilan > div {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

#player-bonuses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
}

#player-bonuses .kvgroup {
    margin: 0 1em;
}

#player-stats > ul {
    padding: 0 3px;
}

#club-players > ul {
    padding: 0 3px;
}

#player-performances > div {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#club-staff > div {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#club-results > div {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#rencontre-summary > div {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.header_table {
    display: table-header-group;
    background: #b5b5b5;
    font-weight: bold;
}

.line_table {
    width: 100%;
    display: table-row;
}

.line_table:nth-child(odd) {
    background: #f1f1f1;
}

.cell_table {
    display: table-cell;
    padding: 0 3px;
    word-wrap: normal;
}

#player-performances .compensation {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
}

.rencontre_score {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.rencontre_score > .dom {
    text-align: right;
    flex: 1;
}

.rencontre_score > .score {
    text-align: center;
    padding: 0 5px;
    font-weight: bold;
}

.rencontre_score > .ext {
    text-align: left;
    flex: 1;
}

#chtcontainer {
    height: 400px;
    width: 100%;
}

#rencontre-performances > div {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}

#rencontre-performances .result-rencontre-performances-team {
    flex: 50%;
    width: 50%;
    display: table;
    table-layout: fixed;
}

#journee_result {
    display: table;
    width: 100%;
}

.bonus-list {
    background-color: #212121;
    color: #f1f1f1;
    padding: 3px;
}

#topFlopForm, #saison_stat form {
    padding: 0.8em 0;
}

#topFlopForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bestofentry {
    display: flex;
    align-items: center;
    padding-top: 0.8em;
    border-bottom: 1px dotted #212121;
}

.bestofentry:last-child {
    border-bottom: none;
    padding-bottom: 1em;
}

.bestofentry .bestofplayer {
    flex: 1;
}

/********************************************************/
/*  SALES */
/********************************************************/
.sales-list {
    display: flex;
    flex-wrap: wrap;
}

.sales-list > div {
    margin: 3px;
}

.sales-list > div:nth-child(2n) {
    background-color: #f1f1f1;
}

.salecard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6em;
    max-height: 6em;
}

.salecard-reveal-content {
    min-width: 18em;
    max-width: 18em;
}

.salecard-content > * {
    padding: 0 3px;
}

.salecard-content dt {
    float: left;
    clear: both;
    width: 6em;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.54);
}

.salecard-content dt:after {
    content: ":";
}

.salecard-content dd {
    float: left;
}

.salecard-winner {
    font-size: 1.5em;
}

.salecard-content .past-offers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    min-height: inherit;
    max-height: inherit;
}

.past-offers p {
    padding: 0 3px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.54);
}

.past-offers p.ismine {
    font-weight: bold;
}

.past-offers p.invalid {
    text-decoration: line-through;
}

.releases-list {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.player-picker-fields {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.player-picker-fields > div {
    margin: 0.5em;
}

.player-picker-fields > button {
    margin-right: 0.5em;
}

div.opensales-container {
    display: flex;
}

/****************************************************************/
/*                          ZINNIA                              */
/****************************************************************/
article.hentry {
    border-bottom: 1px solid #5f5f5f;
    padding: 5px;
}

h2.entry-title {
    font-size: 1.5em;
}

p.entry-info, p.entry-last-update, p.entry-tags, p.entry-shorturl {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.54);
}

div.entry-body {
    padding: 1em 0;
}

aside.entry-widgets {
    padding: 5px;
    font-size: 0.8em;
}

/*article.hentry:nth-child(even) {
    background-color: #f1f1f1;
}*/