{% extends "game/user/user_base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load game %}

{% block content_title %}Mes équipes{% endblock %}

{% block content %}
<div class="account-teams-container">
    {% for t in teams %}
    <div class="account-team-box">
        <h2>{{ t.name }}</h2>
        <ul class="account-team-box-managers">
            {% for manager in t.managers.all %}
            {% if manager.is_team_captain %}
            <li class="manager captain">
                {% else %}
            <li class="manager">
                {% endif %}
                {{ manager.user.username }}
            </li>
            {% endfor %}
        </ul>
        {% user_teams_invitation_code t %}
        {% if t.league %}
        <p>Ligue: <a href="{% url 'league_ekyp-detail' t.league.id %}">{{ t.league.name }}</a></p>
        {% else %}
        {% if not t.is_captain == 0 %}
        <p><a href="#" class="navlink">Rejoindre une ligue</a></p>
        <p><a href="{% url 'user-teams-deletions' t.id %}" class="navlink">Supprimer l'équipe</a></p>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>
<div>
    <a href="{% url 'user-teams-create' %}">Créer une équipe</a>
    <form method="post">
        <h2>Rejoindre une équipe déjà créée</h2>
        <p>Pour cela, demandez au manager de l'équipe qu'il génére et vous communique un code d'invitation.</p>
        <p>Puis copiez le code dans ce champs et validez.</p>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Valider"/>
    </form>
</div>

{% user_teams_invitations_pending %}

{% endblock %}