{% extends "game/user/user_base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block content_title %}Mes équipes{% endblock %}

{% block content %}
{% for t in teams %}
<div>
    <h2>{{ t.name }}</h2>
    <ul>
        {% for manager in t.managers.all %}
        <li><i class="fa fa fa-user"></i>{{ manager.user.username }}</li>
        {% endfor %}
    </ul>
    {% if not t.is_captain == 0 %}
    <p><a href="#">Ajouter un manager</a></p>
    {% endif %}
    {% if t.league %}
    <p>Ligue: {{ t.league.name }}</p>
    {% else %}
    <p>Rejoindre une ligue</p>
    <p><a href="#">Rejoindre une ligue</a></p>
    {% endif %}
</div>
{% endfor %}

<div>
    <p>Créer une équipe</p>
</div>
{% endblock %}