{% extends "game/user/user_base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block content_title %}Rejoindre une ligue{% endblock %}

{% block content %}
<p class="explanation">L'organisateur de la lique que vous souhaitez rejoindre doit vous communiquer un code
    d'accès.</p>
<p class="explanation">Recopiez le code dans ce champ et validez.</p>
<form method="post" class="space-around-me">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Valider"/>
</form>
{% endblock %}
