{% load l1results %}
{% load humanize %}
<section class="section-title">
    {% club_logo header.dom 'medium' %}
    <h1 class="center">{{ header.dom.nom }}
        <strong>{{ header.score_dom }}&nbsp;-&nbsp;{{ header.score_ext }}</strong>
        {{ header.ext.nom }}</h1>
    {% club_logo header.ext 'medium' %}
</section>
<p>{{ header.date|date:"SHORT_DATETIME_FORMAT" }}</p>
<section id="rencontre-summary">
    <div>
        {% if 'goals_scored' in summary %}
            {% include 'game/tags/l1results_rencontre_summary_row.html' with prop=summary.goals_scored title="Buts" bonuskey="GOAL" %}
        {% endif %}
        {% if 'penalties_scored' in summary %}
            {% include 'game/tags/l1results_rencontre_summary_row.html' with prop=summary.penalties_scored title="Pénaltys" bonuskey="PENALTY" %}
        {% endif %}
        {% if 'goals_assists' in summary %}
            {% include 'game/tags/l1results_rencontre_summary_row.html' with prop=summary.goals_assists title="Passes décisives" bonuskey="PASS" %}
        {% endif %}
        {% if 'penalties_awarded' in summary %}
            {% include 'game/tags/l1results_rencontre_summary_row.html' with prop=summary.penalties_awarded title="Pénaltys obtenus" bonuskey="HALFPASS" %}
        {% endif %}
        {% if 'penalties_saved' in summary %}
            {% include 'game/tags/l1results_rencontre_summary_row.html' with prop=summary.penalties_saved title="Pénaltys arrêtés" bonuskey="PENALSTOP" %}
        {% endif %}
        {% if 'own_goals' in summary %}
            {% include 'game/tags/l1results_rencontre_summary_row.html' with prop=summary.own_goals title="Contre son camp" bonuskey="CSC" %}
        {% endif %}
    </div>
</section>