{% load l1results %}
<div class="result-rencontre-performances-team">
    <div class="header_table">
        <div class="cell_table"></div>
        <div class="cell_table center" style="width: 10%;">Pos.</div>
        <div class="cell_table center" style="width: 10%;">Tps.</div>
        <div class="cell_table center" style="width: 10%;">Note</div>
    </div>
    {% for stat in G %}
        <div class="line_table">
            {% include './l1results_rencontre_team_fieldrow.html' with stat=stat %}
        </div>
    {% endfor %}
    {% for stat in D %}
        <div class="line_table">
            {% include './l1results_rencontre_team_fieldrow.html' with stat=stat %}
        </div>
    {% endfor %}
    {% for stat in M %}
        <div class="line_table">
            {% include './l1results_rencontre_team_fieldrow.html' with stat=stat %}
        </div>
    {% endfor %}
    {% for stat in A %}
        <div class="line_table">
            {% include './l1results_rencontre_team_fieldrow.html' with stat=stat %}
        </div>
    {% endfor %}

    </table>
</div>