{% load l1results %}
{% load humanize %}

<div class="fieldPlayer">
    <div class="jersey">
        {% club_logo club %}
        <div class="clubName-container">
            <span class="clubName">{{ club.nom }}</span>
        </div>
    </div>
    <div class="playerDetails">
        <h1>{{ joueur.display_name }}</h1>
        <p><span class="bonus-list">
            {{ note }}
            {% if total_bonuses is not None %}
                + {{ total_bonuses }}
            {% endif %}
            {% for bk, bv in bonus.items %}
                {% bonus bk joueur.poste bv %}
            {% endfor %}
        </span>
        </p>
        <a class="navlink" href="{% url 'stat_joueur-detail' joueur.pk %}">fiche</a>
    </div>
</div>