{% if pending_invitations %}
<div>
    <h2>Invitations en attente</h2>
    <div id="teaminvitations-pending">
        <div class="header_table">
            <div class="cell_table"></div>
            <div class="cell_table center">Utilisateur</div>
            <div class="cell_table center" style="width: 10%;"></div>
            <div class="cell_table center" style="width: 10%;"></div>
        </div>
    </div>
    {% for i in pending_invitations %}
    <div class="line_table">
        <div class="cell_table">{{ i.team }}</div>
        <div class="cell_table center">{{ i.user }}</div>
        <div class="cell_table center"><a href="#">Accepter</a></div>
        <div class="cell_table center"><a href="#">Refuser</a></div>
    </div>
    {% endfor %}
</div>
{% endif %}