{% load i18n %}
{% load static %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %} - Kamoulcup</title>
    <meta name="robots" content="follow, all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{% block meta-description %}{% trans "Le jeu de fantasy football basé sur la Ligue 1 qui va vous faire apprécier les 0-0" %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords"
          content="{% block meta-keywords %}Fantasy, football, ligue 1, game, roto, rotisserie, Jean-Jacques Gosso{% endblock meta-keywords %}"/>
    {% block meta %}{% endblock meta %}
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'game/css/kcup.css' %}">
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
</head>
<body class="zinnia {% block theme-class %}default{% endblock theme-class %} {% block color-class %}blue{% endblock color-class %} {% block sidebar-class %}right-sidebar{% endblock sidebar-class %} {% block body-class %}{% endblock body-class %}">
<div class="container">
    <div class="title-banner"></div>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-left navbar-brand">Kamoulcup</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Maison</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mes ligues <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Liguain</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Rejoindre une ligue...</a></li>
                    </ul>
                </li>
                <li><a href="#">Comment ça marche ?</a></li>
                <li><a href="#">Forum</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fier Panpan&nbsp;<span class="glyphicon glyphicon-user pull-right"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-cog pull-right"></span>Mon compte</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out pull-right"></span>Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container wrapper text-center">
    <div class="row content">
        {% block content%}{% endblock content %}
    </div>

    <footer class="container text-center">
        <p>Footer Text</p>
    </footer>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
