{% load i18n %}
{% load static %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %} - Kamoulcup</title>
    <meta name="robots" content="follow, all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{% block meta-description %}{% trans "Le jeu de fantasy football basé sur la Ligue 1 qui va vous faire apprécier les 0-0" %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords"
          content="{% block meta-keywords %}Fantasy, football, ligue 1, game, roto, rotisserie, Jean-Jacques Gosso{% endblock meta-keywords %}"/>
    {% block meta %}{% endblock meta %}
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="{% static 'game/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'game/css/kcup.css' %}">
    {% block link %}{% endblock link %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% block script %}{% endblock script %}
</head>
<body>
<div class="container">
    <div class="title-banner"></div>
    {% block navbar %}{% include './navbar.html' %}{% endblock navbar %}
</div>

<div class="container wrapper text-center">
    <div class="row content">
        {% block content%}{% endblock content %}
    </div>

    <footer class="container text-center">
        <p>Footer Text</p>
    </footer>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
