{% extends "game/home/home_base.html" %}
{% load static %}
{% load i18n %}

{% load l1results %}

{% block content-center-home %}
    <section id="section-title">
        {% club_logo object 'medium' %}
        <h1>{{ object.nom }}</h1>
    </section>

    <section id="club-staff">
    <div>
            {% for j in context.players %}
                <p>{{ j.nom }} {{ j.nb_notes }}</p>
            {% endfor %}
        </div>
        <h2>Gardiens</h2>
        <div>
            {% for j in context.G %}
                <p>{{ j.nom }}</p>
            {% endfor %}
        </div>
        <h2>Défenseurs</h2>
        <div>
            {% for j in context.D %}
                <p>{{ j.nom }}</p>
            {% endfor %}
        </div>
        <h2>Milieux</h2>
        <div>
            {% for j in context.M %}
                <p>{{ j.nom }}</p>
            {% endfor %}
        </div>
        <h2>Attaquants</h2>
        <div>
            {% for j in context.A %}
                <p>{{ j.nom }}</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}