{% load game %}
{% block left-menu %}
    <div class="list-group sidemenu">
        <a href="#" class="list-group-item {% is_navbar_active request 'info' %}">Infos <span
                class="glyphicon glyphicon-chevron-right pull-right hover-active"></span></a>
        <a href="#" class="list-group-item {% is_navbar_active request 'result' %}">Résultats <span
                class="glyphicon glyphicon-chevron-right pull-right hover-active"></span></a>
        <a href="#" class="list-group-item {% is_navbar_active request 'stat' %}">Statistiques <span
                class="glyphicon glyphicon-chevron-right pull-right hover-active"></span></a>
    </div>
{% endblock left-menu %}