{% extends "game/home/home_base.html" %}
{% load static %}
{% load l1results %}
{% load i18n %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
{% endblock script %}

{% block content-right %}
    {% joueurs_club joueur.club %}
{% endblock content-right %}

{% block content-center-home %}
    <section id="player-title">
        {% club_logo joueur.club 'medium' %}
        <h1>{{ joueur.display_name }}</h1>
    </section>
    <section id="player-profile">
        <h2>Profil</h2>
        <div>
            {% keyvalue 'Nom' joueur.nom %}
            {% keyvalue 'Prénom' joueur.prenom %}
            {% if joueur.surnom %}
                {% keyvalue 'Surnom' joueur.surnom %}
            {% endif %}
            {% keyvalue 'Club' joueur.club.nom %}
            {% trans joueur.poste as poste %}
            {% keyvalue 'Poste' poste %}
        </div>
    </section>
    <section id="player-stats">
        <h2>Statistiques</h2>
        <div>
            {% keyvalue 'Nombre de notes' stats.NBNOTE %}
            {% keyvalue 'Note moyenne' stats.AVGNOTE %}
            {% keyvalue 'Buts marqués (hors pénaltys)' stats.GOAL 'fa-trophy' %}
            {% keyvalue 'Passes décisives' stats.PASS 'fa-gift' %}
            {% keyvalue 'Pénaltys marqués' stats.PENALTY 'fa-trophy fa-rotate-90' %}
            {% keyvalue 'Pénaltys obtenus' stats.HALFPASS 'fa-ambulance' %}
            {% keyvalue 'Meilleur de son équipe à son poste' stats.LEADER 'fa-plus-circle' %}
            {% keyvalue 'Plus de 3 arrêts' stats.3STOPS 'fa-lock' %}
            {% keyvalue 'Pénaltys arrêtés' stats.PENALSTOP 'fa-ban' %}
            {% keyvalue 'Matchs sans but encaissé' stats.CLEANSHEET 'fa-shield' %}
            {% keyvalue 'Matchs avec un seul but encaissé sur pénalty' stats.HALFCLEANSHEET 'fa-shield fa-rotate-90' %}
            {% keyvalue 'Matchs avec 3 buts marqués (dans le jeu) ou plus' stats.OFFENSIVE 'fa-thermometer-full' %}
            {% keyvalue 'Matchs avec exactement 3 buts marqués dont un pénalty' stats.HALFOFFENSIVE 'fa-thermometer-half' %}
        </div>
    </section>
    <section id="player-performances">
        <h2>Performances</h2>
    </section>
    <div id='chtcontainer'>{{ chart.as_html }}</div>
{% endblock content-center-home %}