{% extends "game/home/home_base.html" %}
{% load static %}
{% load l1results %}
{% load i18n %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
{% endblock script %}

{% block content-right %}
    {% joueurs_club joueur.club %}
{% endblock content-right %}

{% block content-center-home %}
    <section id="player-title">
        {% club_logo joueur.club 'big' %}
        <h1>{{ joueur.display_name }}</h1>
    </section>
    <section id="player-profile">
        <h2>Profil</h2>
        <div>
            {% keyvalue 'Nom' joueur.nom %}
            {% keyvalue 'Prénom' joueur.prenom %}
            {% if joueur.surnom %}
                {% keyvalue 'Surnom' joueur.surnom %}
            {% endif %}
            {% keyvalue 'Club' joueur.club.nom %}
            {% trans joueur.poste as poste %}
            {% keyvalue 'Poste' poste %}
        </div>
    </section>
    <section id="player-stats">
    </section>
    <section id="player-performances">
    </section>
    <div id='chtcontainer'>{{ chart.as_html }}</div>
{% endblock content-center-home %}